<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div class="d-flex flex-column align-items-center" id="recipes">
  <% @recipes.each do |recipe| %>
    <div class="card mb-2 p-2 border-dark" style="width: 60%;">
      <%= render recipe %>
      <p>
        <%= link_to "Show this recipe", recipe %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
