<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div class="d-flex flex-column align-items-center" id="recipes">
  <% @recipes.each do |recipe| %>
    <%= link_to recipe, class: 'card mb-4 p-2 border-dark', style: 'text-decoration: none; color: black; width: 60%' do %>
      <%= render recipe %>
    <% end %>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
