<p style="color: green"><%= notice %></p>

<h1>Recipe foods</h1>

<div id="recipe_foods">
  <% @shopping_list.each do |s| %>
    <%= render s %>
    <p>
      <%= link_to "Show this recipe food", s %>
    </p>
  <% end %>
</div>

<%= link_to "New recipe food", new_recipe_food_path %>
